doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js')
    //script(src='/javascripts/application.js')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') Eventbrite
      |     
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      |     
      #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='/events') BROWSE EVENTS
          |         
          li.nav-item.dropdown
            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | ORGANIZE
            |           
            .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
              a.dropdown-item(href='#') Overview
              |             
              a.dropdown-item(href='#') Pricing
              |             
              a.dropdown-item(href='#') Blog
              |             
              a.dropdown-item(href='#') Resources
          if (!currentUser) 
            |         
            li.nav-item
              a.nav-link(href='/users/new') SIGN UP 
            |         
            li.nav-item
              a.nav-link(href='/signin') SIGN IN
          else if (currentUser.email == 'admin@admin') 
            |         
            li.nav-item
              a.nav-link(href='/users/usermanage') 관리자 
            |         
            li.nav-item
              a.nav-link(href='/signout') Signout
          else
            |         
            li.nav-item
              a.nav-link(href=`/users/${currentUser._id}`) #{currentUser.email}
            |         
            li.nav-item
              a.nav-link(href='/signout') Signout
          |         
          li.nav-item
            a.nav-link(href='/events/new') CREATE EVENT
    |
    block hero-unit
    if flashMessages
      each texts, type in flashMessages
        .container
          .alert.alert-dismissible.fade.show(class=`alert-${type}`)
            each msg in texts
              | #{msg} 
            button.close(type='button', data-dismiss='alert', aria-label='close')
              span(aria-hidden='true') &times;  
    block content
